/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.notification.mat-snack-bar-container{
    background: #ffffff;
    color: #34495E;
    width: 100px;
}

.custom-modalbox .mat-dialog-container{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
 }