@font-face{
    font-family: 'OpenSans';
    src: url(../../../../assets/fonts/OpenSans-Regular.ttf);
}

.container{
    margin: 12px 18px 10px 18px;
    font-family: OpenSans;
}
.withInputs {
    width: 100%;
}
.titulo-imagen{
    color: #2C3E50;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.titulo {
    font-family: OpenSans;
    background: #F0F3F4; 
    padding: 10px 20px 10px; 
    color: #3162A0; 
    font-size: 16px;
    font-weight: bold;
}

.chat-window{
    padding: 10px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #4080FF;
    border-radius: 20px;
}

.card-image{
    box-shadow: 0px 2px 5px #999;
    
}

.inferior{
    position: fixed; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:50px; /*alto del div*/
    z-index:0;
}

.boton-activo{
    background-color: #0C90F2;
    color: #ffffff;
    font-weight: 400;
}
.boton-inactivo{
    background-color: #E74040 !important;
    color: #ffffff !important;
    font-weight: 400;
}
.btn-terminar{
    background-color: #4CAF50;
    color: #ffffff;
    margin: 8px 10px 8px;
    min-height: 36px !important;
    min-width: 49px !important;
    font-size: 17px !important;
    line-height: 0px;
    font-family: OpenSans;
}

.mat-badge-content {
    background: #4CAF50;
    color: black;;
}

.boton-back{
    font-size: 12px;
}

.icono-back{
    font-size: 22px;
}