<div class="example-container">
    <!-- Menu en la parte top-->
    <mat-toolbar color="personal" class="example-toolbar" *ngIf="iniciarSession()">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened" matTooltip="Abrir menu">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened" matTooltip="Cerrar menu">close</mat-icon>
        </button>
        &nbsp; <span class="fuente">Inspector Virtual</span>
        <!--Dar espaciado a los iconos-->
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sidenav.opened = false" (click)="cerrarSesion()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesion</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <!--Menu opciones superior derecho-->

    <!-- Sidenav-->
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 240px;" opened="{{openMenu}}" [mode]="isLargeScreen() ? 'side' : 'over'">
            <img src="assets/logo.jpeg" width="180" style="margin: 30px 20px 16px 26px" alt="">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/inspeccion">
                <mat-icon>assignment_ind</mat-icon>
                <span>Adm. Inspecciones</span>
            </button>
            <!-- <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/notificacion">
                <mat-icon>mark_chat_unread</mat-icon>
                <span>Notificar Usuario</span>
            </button> -->
            <div class="footerP">
                <p class="textoPie" *ngIf="user"> Usuario: &nbsp; {{user}}</p>
                <p class="textoPie" *ngIf="profile"> Rol: &nbsp; {{profile}}</p>
            </div>
        </mat-sidenav>
        <mat-sidenav-content style="background-color: #F6F7F9;">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>