.cont-icono{
    border-right: 2px solid #D5DBDB;
    float: left;
}
.cont-body{
    padding-left:40px;
}
.icono{
    color: #2ECC71;
}

.boton-aceptar{
    margin: 6px 20px 6px;
    min-height: 23px !important;
    min-width: 9px !important;
    font-size: 12px !important;
    line-height: 0px; 
}